### required
# https://ai.google.dev/gemini-api/docs/api-key
GOOGLE_API_KEY=

### required for telephony
# https://console.twilio.com/us1/account/manage-account/general-settings
TWILIO_ACCOUNT_SID=
# https://console.twilio.com/us1/account/keys-credentials/api-keys
TWILIO_AUTH_TOKEN=